<div>
  <mat-accordion>
    <h4><b>PARAMETER</b></h4>
    <mat-expansion-panel>
      <mat-expansion-panel-header class="mat-input-title">Simulation Filter</mat-expansion-panel-header>
      <table>
        <tr>
          <mat-label class="mat-input-wrapper">Date From</mat-label>
          <mat-form-field class="mat-input-wrapper" appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="dateFrom" />
            <mat-datepicker-toggle matSuffix [for]="dateFrom"></mat-datepicker-toggle>
            <mat-datepicker #dateFrom></mat-datepicker>
          </mat-form-field>
        </tr>
        <tr>
          <mat-label class="mat-input-wrapper">Date To</mat-label>
          <mat-form-field class="mat-input-wrapper" appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="dateTo" />
            <mat-datepicker-toggle matSuffix [for]="dateTo"></mat-datepicker-toggle>
            <mat-datepicker #dateTo></mat-datepicker>
          </mat-form-field>
        </tr>
        <tr></tr>
        <tr>
          <mat-label class="mat-input-wrapper">Simulation ID</mat-label>
          <mat-form-field class="mat-input-wrapper" appearance="fill">
            <mat-label>1204865970287</mat-label>
            <input [disabled]=true matInput />
          </mat-form-field>
        </tr>
        <tr>
          <button class="mat-input-wrapper" mat-raised-button color="primary">
            Search
          </button>
        </tr>
      </table>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header class="mat-input-title">Simulation Run</mat-expansion-panel-header>
      <table>
        <tr>
          <mat-label class="mat-input-wrapper">Market Price</mat-label>
        </tr>
        <tr>
          <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="1000" step="1" min="0" max="150"
            aria-label="units"></mat-slider>
        </tr>
        <tr>
          <mat-label class="mat-input-wrapper">Barge Availability</mat-label>
        </tr>
        <tr>
          <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="1000" step="1" min="0" max="50"
            aria-label="units"></mat-slider>
        </tr>
        <tr>
          <mat-label class="mat-input-wrapper">Floating Crane Capacity</mat-label>
        </tr>
        <tr>
          <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="1000" step="1" min="0" max="10000"
            aria-label="units"></mat-slider>
        </tr>
        <tr>
          <mat-label class="mat-input-wrapper">Laytime Delay</mat-label>
        </tr>
        <tr>
          <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="1000" step="1" min="0" max="50"
            aria-label="units"></mat-slider>
        </tr>
        <tr>
          <button class="mat-input-wrapper" mat-raised-button color="primary">
            Run Simulation
          </button>
        </tr>
      </table>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header class="mat-input-title">Parameter</mat-expansion-panel-header>
      <table>
        <tr>
          <mat-label class="mat-input-wrapper">Vessel</mat-label>
        </tr>
        <tr>
          <mat-form-field class="mat-input-wrapper" appearance="fill">
            <mat-label>Select Vessel</mat-label>
            <select matNativeControl required>
              <option value="bunati">Basic Portland</option>
              <option value="bunati">BAO Grand</option>
              <option value="bunati">Manalagi Hita</option>
              <option value="bunati">SEA Express</option>
              <option value="bunati">Long Shan Hu</option>
              <option value="bunati">Jin Hae He</option>
            </select>
          </mat-form-field>
        </tr>
        <tr>
          <mat-label class="mat-input-wrapper">Barge</mat-label>
        </tr>
        <tr>
          <mat-form-field class="mat-input-wrapper" appearance="fill">
            <mat-label>Select Barge</mat-label>
            <select matNativeControl required>
            <option value="bunati">Barge Carrying Liquid Cargo</option>
            <option value="bunati">Barrack Barge</option>
            <option value="bunati">Car Float Barge</option>
            <option value="bunati">Dry Bulk Cargo Barge</option>
            <option value="bunati">Royal Barge</option>
            <option value="bunati">Split Hopper Barge</option>
          </select>
          </mat-form-field>
        </tr>
        <tr>
          <mat-label class="mat-input-wrapper">Port</mat-label>
        </tr>
        <tr>
          <mat-form-field class="mat-input-wrapper" appearance="fill">
            <mat-label>Select Port</mat-label>
            <select matNativeControl required>
              <option value="bunati">Bunati</option>
              <option value="bunati">Illaga</option>
              <option value="bunati">Jatibarang</option>
              <option value="bunati">Kalabahi</option>
              <option value="bunati">Larantuka</option>
            </select>
          </mat-form-field>
        </tr>
        <tr>
          <mat-label class="mat-input-wrapper">Floating Crane</mat-label>
        </tr>
        <tr>
          <mat-form-field class="mat-input-wrapper" appearance="fill">
            <mat-label>Select Floating Crane</mat-label>
            <select matNativeControl required>
            <option value="bunati">Huisman</option>
            <option value="bunati">Liebherr</option>
            <option value="bunati">Konecranes</option>
          </select>
          </mat-form-field>
        </tr>
        <tr>
          <button class="mat-input-wrapper" mat-raised-button color="primary">
            Search
          </button>
        </tr>
      </table>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header class="mat-input-title">Prediction</mat-expansion-panel-header>
      <table>
        <tr>
          <mat-label class="mat-input-wrapper">Market Price</mat-label>
        </tr>
        <tr>
          <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="1000" step="1" min="0" max="150"
            aria-label="units"></mat-slider>
        </tr>
        <tr>
          <mat-label class="mat-input-wrapper">Weater</mat-label>
        </tr>
        <tr>
          <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="1000" step="1" min="0" max="150"
            aria-label="units"></mat-slider>
        </tr>
        <tr>
          <button class="mat-input-wrapper" mat-raised-button color="primary">
            Search
          </button>
        </tr>
      </table>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header class="mat-input-title">Admin</mat-expansion-panel-header>
      <table>
        <tr>
          <mat-label class="mat-input-wrapper">User</mat-label>
        </tr>
        <tr>
          <mat-label class="mat-input-wrapper">Role</mat-label>
        </tr>
        <tr>
          <mat-label class="mat-input-wrapper">Group</mat-label>
        </tr>
        <tr>
          <mat-label class="mat-input-wrapper">Settings</mat-label>
        </tr>
        <tr><a class="mat-input-wrapper" (click)="logout()">Logout</a></tr>
      </table>
    </mat-expansion-panel>
  </mat-accordion>
</div>