<mat-sidenav-container>
  <mat-sidenav
    autoFocus
    fixedInViewport
    mode="over"
    position="start"
    [opened]="opened"
    (closed)="handleClosed()"
  >
    <div #sidenavContentContainer></div>
  </mat-sidenav>
  <mat-sidenav-content>
    <table>
      <td>
        <button mat-flat-button color="primary" (click)="openSidenav()">
          <mat-icon>menu</mat-icon>
        </button>
      </td>
      <td><h2>CANVAS</h2></td>
    </table>
    <table>
      <td>
        <mat-card>Simulation Result</mat-card>
      </td>
      <td>
        <mat-card>Statistic Result</mat-card>
      </td>
      <td>
        <mat-card>Data Distribution</mat-card>
      </td>
      <td>
        <mat-card>Monitoring</mat-card>
      </td>
    </table>
  </mat-sidenav-content>
</mat-sidenav-container>
